@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%; /* Prevents auto-scaling */
    -webkit-text-size-adjust: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-lightHover: #fcf4ff;
    --color-darkHover: #2a004a;
    --color-darkTheme: #11001F;
    --color-lime-300: #bbf451;
    --color-white-so: rgb(255 255 255 / 0.8);

    --font-outfit: "Poppins", sans-serif;
    --font-ovo: "Lora", serif;

    --shadow-black: 4px 4px 0 rgb(0 0 0 / 1);
    --shadow-white: 4px 4px 0 rgb(255 255 255 / 1);

    --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
    
    --blur-10xs: 10px;
}
